{% extends "content_recipes/index.html" %} {% block title %} Home of recipes !
{% endblock title %} 



{% block content %} 

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">Recipes web-app</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      {% if latest_recipes %}
      
        {% for recipe in latest_recipes %}
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">restaurant_menu</i></h2>
            <h5 class="center"><a href="{% url 'detail' recipe.id %}">{{ recipe.title }}</a></h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>
        {% endfor %}

      {% else %}
        <p>No recipes available yet.</p>
      {% endif %}

    </div>

  </div>
  <br><br>
</div>

 {% endblock %}
