{% extends "index.html" %} {% block title %} {{ recipe.title }}
{% endblock title %} {% block content %}
<div class="container">
  <div class="section">
    <h1>{{ travail_manuel.title }}</h1>

    {{ travail_manuel.description }}

    <img src="{{travail_manuel.photo.url }}" width="650" class="materialboxed" data-caption="{{ travail_manuel.description }}" />

    {% if materiel %}
    <h5>Ingredients :</h5>
    <ul>
      <li>{{ materiel }}</li>
    </ul>
    {% endif %} {% if methode %}
    <h5>Directions :</h5>
    <ul>
      <li>{{ methode }}</li>
    </ul>
    {% endif %}
    <small>{{ travail_manuel.pub_date }} </small>
  </div>
</div>

{% endblock content %}
