{% extends "index.html" %} {% block title %} {{ recipe.title }}
{% endblock title %} {% block content %}
<div class="container">
  <div class="section">
    <h1>{{ recipe.title }}</h1>

    {{ recipe.description }}

    <img src="{{ recipe.photo.url }}" />

    {% if ingredients %}
    <h5>Ingredients :</h5>
    <ul>
      <li>{{ ingredients }}</li>
    </ul>
    {% endif %} {% if preparation %}
    <h5>Directions :</h5>
    <ul>
      <li>{{ preparation }}</li>
    </ul>
    {% endif %}
    <small>{{ recipe.pub_date }} </small>
  </div>
</div>

{% endblock content %}
