{% extends "index.html" %} {% block title %} Home of recipes !
{% endblock title %} 



{% block content %} 

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center grey-text">لمسة للفن و الأشغال اليدوية</h1>
    <h3 class="header center blue-text">LAMSA Association</h3>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <h5 class="left header blue-text">Dernieres recettes :</h5>
    </div>

    <div class="row">
      {% if latest_recipes %}
      
        {% for recipe in latest_recipes %}
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">restaurant_menu</i></h2>
            <h5 class="center"><a href="{% url 'detail' recipe.id %}">{{ recipe.title }}</a></h5>

            <p class="light">{{ recipe.description }}.</p>
          </div>
        </div>
        {% endfor %}

      {% else %}
        <p>No recipes available yet.</p>
      {% endif %}
    </div>

    <div class="row">
      <h5 class="left header blue-text">Derniers travaux manuels :</h5>
    </div>
    <div class="row">
      {% if latest_travail_manuel %}
      
      {% for travail_manuel in latest_travail_manuel %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">brush</i></h2>
          <h5 class="center"><a href="{% url 'detail_travail_manuel' travail_manuel.id %}">{{ travail_manuel.title }}</a></h5>

          <p class="light">{{ travail_manuel.description }}.</p>
        </div>
      </div>
      {% endfor %}

    {% else %}
      <p>No travail manuel available yet.</p>
    {% endif %}

    </div>

    <div class="row">
      <h5 class="left header blue-text">Dernieres activités :</h5>
    </div>
    <div class="row">
      {% if latest_activite %}
      
      {% for activite in latest_activite %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">brush</i></h2>
          <h5 class="center"><a href="{% url 'detail_activite' activite.id %}">{{ activite.title }}</a></h5>

          <p class="light">{{ activite.description }}.</p>
        </div>
      </div>
      {% endfor %}

    {% else %}
      <p>No activité available yet.</p>
    {% endif %}

    </div>
  </div>
  <br><br>
</div>

 {% endblock %}
